// colors
$xlgrey: #f0f0f0;
$lgrey: #c8c8c8;
$mgrey:#868686;
$dgrey: #5a5a5a;
$ddgrey: #333333;
$xdgrey: #1f1f1f;
$xlgr: #dcf8f8;
$lgr: #7dfff6;
$mgr: #22d8cf;
$dgr: #178682;
$xdgr: #0e313f;

// fonts
$fsmall: .8em;
$fmedium: 1em;
$flarge: 1.2em;
$fxlarge: 1.6em;

